---
const title = "PORTFOLIO";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">

	<BaseLayout>
		<h1 class="text-2xl absolute top-16 -left-6 rotate-90">{title}</h1>
		<div class="flex flex-col items-center h-screen justify-center">
			<div class="w-[100vh] h-[60vh] bg-amber-100 rounded-3xl relative">

				<li class="border-2 border-black p-1 absolute top-[-25%] left-1/2 transform -translate-x-1/2">
					<a href="/portfolio/mesProjects">MES PROJETS</a>
				</li>
				<li class="border-2 border-black p-1 absolute top-[50%] left-[-27%] transform -translate-y-1/2">
					<a href="/portfolio/Contact">CONTACTEZ MOI</a>
				</li>
				<li class="border-2 border-black p-1 absolute top-[50%] right-[-30%] transform -translate-y-1/2">
					<a href="/portfolio/Projet2">MON CV</a>
				</li>
			</div>
		</div>
		<h2 class="text-2xl absolute bottom-8 right-7">2024</h2>
	</BaseLayout>

	
	
	
</html>
