---
const title = "PORTFOLIO";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html lang="en">

	<BaseLayout>
		<h1 class="text-2xl absolute top-16 -left-6 rotate-90">{title}</h1>
		<div class="flex flex-col items-center h-screen justify-center">
			<div class=" relative">
				<img src="/public/Card.png" class="w-[110vh] h-auto relative" alt="">
				<li class="border-2 border-black p-1 absolute top-[-10%] left-[45%] transform -translate-x-1/2">
					<a href="/portfolio/mesProjects">MES PROJETS</a>
				</li>
				<li class="border-2 border-black p-1 absolute top-[85%] left-[-27%] transform -translate-y-1/2">
					<a href="/portfolio/Contact">CONTACTEZ MOI</a>
				</li>
				<li class="border-2 border-black p-1 absolute top-[45%] right-[-10%] transform -translate-y-1/2">
					<a href="/portfolio/Projet2">MON CV</a>
				</li>
			</div>
		</div>
		<h2 class="text-2xl absolute bottom-8 right-7">2024</h2>
	</BaseLayout>

	
	
	
</html>
