---

---

<header class="pt-8">
	<nav class="flex justify-center px-2">
		<ul class="flex gap-28 border-b-2 border-black">
		  <li class="hover:outline hover:outline-offset-0 outline-2 px-1"><a href="/">Home</a></li>
		  <li class="hover:outline hover:outline-offset-0 outline-2 px-1"><a href="/Projects">Mes Projets</a></li>
		  <li class="hover:outline hover:outline-offset-0 outline-2 px-1"><a href="/Contact">Contactez moi</a></li>
		  <li class="hover:outline hover:outline-offset-0 outline-2 px-1"><a href="/CV">Mon CV</a></li>
		</ul>
	  </nav>
</header>

